*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
}


img{
  width: 300px;
  display: block;
  margin: auto;
}

/* App content */
.App{
  text-align: center;
  padding-inline: 6em;
  margin-inline:auto;
  max-width: 80rem;
  
}

.randomMovie {
  width: 50%;
  height: 100vh;
}



.mainContent{
  overflow:hidden;
  display: flex;
  background: linear-gradient(90deg, rgba(18, 17, 111, 1), rgba(203, 187, 233, 1));
  border-radius: 10px;
  margin-bottom:20px;
}

/*Random content*/
.randomButton {
  border: none;
  border-radius: 10px;
  width: 20%;
  height: 5%;
  margin: 10px;
  cursor: pointer;
}

.randomButton:hover {
  opacity: 0.5;
}

.moviePoster{
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: fixed;
  left: 50%;
  top: 45%;
  z-index: 1000;
  
}

.spinner-container {
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 350px;
  left: 46%;
  top: 55%;
}

/* Watchlist */
.watchList {
  width:50%;
  height: 100vh;
}

.movieList {
  width: 100%;
  display:flex;
}

.smallPoster {
  max-width: 10%;
}