*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



/* Custom scrollbar */

::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(88, 87, 87);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: rgb(59, 70, 97);
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 62, 62);
}


/* Body */
body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
  background-color: rgb(95, 111, 148);
  font-family: 'Montserrat', sans-serif;
}


img {
  width: 300px;
  display: block;
  margin: auto;
}

/* App content */
.App {
  text-align: center;
  padding-inline: 6em;
  margin-inline: auto;
  max-width: 80rem;
}

h1 { 
  color: #111; 
  font-family: 'Courier Prime', monospace;
  font-size: 50px; 
  font-weight:bold;
  font-style: italic;
  line-height: 64px; 
  margin: 0 0 0; 
  padding: 20px 30px; 
  text-align: center; 
  text-transform: uppercase; 
}


.mainContent {
  height: 90vh;
  overflow: auto;
  display: flex;
  background-color: rgb(37, 49, 109);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

/*Random content*/
.title {
  font-weight:700;
  font-size: 1.5em;
  font-family: 'Courier Prime', monospace;
}

.randomMovie {
  padding: 10px;
  max-width: 50%;
  height: 100vh;
}

.movieData {
  width: 30%;
  font-size: 1em;
  font-family: 'Courier Prime', monospace;
}

.randomButton {
  margin-top: 15px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

.randomButton:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.randomButton:focus {
	outline: none;
}



.moviePoster {
  max-width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 15px;
}

/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: fixed;
  left: 47%;
  top: 40%;
  z-index: 1000;

}

.spinner-container {
  position: fixed;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  left: 42%;
  top: 49%;
}

.spinnerText{
  font-size: 1.1em;
  color: white;
}

.overlay {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
  z-index: 2; 
  
}


/* Watchlist */

h3 {
  width: 80%;
}
.watchList {
  padding: 10px;
  width: 50%;
  height: 100vh;
}

.addButton {
  margin-top: 15px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: white;
	border: 2px solid black;
	box-shadow: 5px 5px 0 black,
		-5px -5px 0 black,
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

.addButton:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.addButton:focus {
	outline: none;
}

.movieList {
 display:flex;
 margin: 20px 0;
 padding: 1rem;
box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(36, 35, 35, 0.08);
border-radius: 0.5rem;  
border-left: 0 solid #473e99;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}

.movieList:hover {
  border-left: 0.5rem solid #473e99;
}

.movieList > :first-child {
  margin-top: 0;
}

.movieList > :last-child {
  margin-bottom: 0;
}

.smallPoster {

 max-width: 20%;
 margin: 10px;
 border-radius: 10px;
}

.listText{
  text-align: left;
}
.smallTitle{
  margin-bottom: 5px;
  text-align: center;
  font-size: 1em;
}

.smallOverview{
  font-size: 0.8em;
}

.removeButton{
  width: 5%;
  cursor:pointer;
  margin: 5px;
}

.removeButton:hover {
  opacity: 0.5;
}