*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  min-height: 100vh;
}


img{
  width: 300px;
  display: block;
  margin: auto;
}


.App{
  text-align: center;
}